# Team 名で指定。 すべてのファイルに web-application-template-maintainers チームの全員が権限を持つ
* @albelium/web-application-template-maintainers

# GitHub や Tools 関連は @tatsutakein がオーナとなる
/.github/ @tatsutakein
/scripts/ @tatsutakein
/tools/ @tatsutakein
